<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="/static/favicon.png">

        <title>Salud sin humo</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">

        <script src="/static/js/ie-emulation-modes-warning.js"></script>
    </head>
        <body>
         <center>
            <div id="logo">
            </div>
         </center>
    <div class="base">

    </div>
            <div class="container">
              <div class="header">
                <nav>
                  <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Inicio</a></li>
                    <li role="presentation"><a href="quienes_somos">Quienes somos</a></li>
                    <li role="presentation"><a href="contacto">Contacto</a></li>
                  </ul>
                </nav>
                <h3 class="text-muted">Salud sin humo</h3>
            </div>
            {% block content %}
            {% endblock %}
        </body>
</html>


