{% extends "base.html" %}
<!--{% load staticfiles %} -->
{% block content %}
<!DOCTYPE html>
<html>
    <body>
    	<h2><strong>¿Cómo funciona?</strong></h2>
    	<p class="text-left">
	    	<ul>
	    		<li>Mediante una interfaz amigable, los/as usuarios/as tendrían la posibilidad de reportar la existencia de violaciones a la ley de protección de la salud y control de tabaco en ambientes cerrados.</li>
	    		<li>Los reportes serían subidos a un sitio web en el que serían geolocalizados para facilitar la comprensión de las áreas de mayor incumplimiento de esta normativa. </li>
	    		<li>Los usuarios recibirían información sobre la importancia de cumplir y promover el cumplimiento de esta normativa, que tendría un importante impacto positivo en la salud pública.</li> 
	    		<li>Los/as usuarios/as que estén dispuestos a tener un nivel más alto de compromiso en esta temática tendrían la posibilidad de reportar posibles incumplimientos de la normativa relativa a publicidad, que busca evitar que niños y jóvenes estén expuestos a estos mensajes publicitarios.</li>
	    	</ul>
	    </p>
    </body>
</html>

    {% endblock %}